.competitions {
  max-width: 1500px;
  padding: 100px 25px 0;
  margin: 0 auto;
}

header {
  font-size: 50px;
  margin-bottom: 30px;
}

table {
  border: 1px solid;
}

thead {
  border-left: 2px solid #dee2e6;
  border-right: 2px solid #dee2e6;
}

.col-1,
.col-2 {
  background-color: rgb(73, 190, 183, 0.8) !important;
  border-top: 2px solid #dee2e6;
}
